@import url('https://fonts.googleapis.com/css?family=Alata|Roboto');
.main-menu {
    background-color: rgb(67, 0, 112);
    color: white;
    font-family: 'Alata', sans-serif;
    font-size: 1.25rem;
    overflow: hidden;
}

section.wrapper {
    margin: 10px 20px;
    padding: 10px 20px;
}

button {
    background-color: palevioletred;
    color: plum;
}