<h1>Log in</h1><br><br>

<form class="pure-form pure-form-aligned" method="post" action="/login">
  <div class="pure-control-group">
    <input type="text" name="username" placeholder="Username:"><br><br>
  </div>
  <div class="pure-control-group">
    <input type="password" name="password" placeholder="Password:"><br><br>
  </div>
  <button type="submit" class="pure-button button-large">Sign in</button></form>
<br><br>
<a href="/signup">Sign Up</a><br>