<h1>Sign Up</h1><br><br><br>

<form class="pure-form pure-form-aligned" method="post" action="/signup">
  <div class="pure-control-group">
    <input type="text" name="username" placeholder="Username:"><br><br>
  </div>
  <div class="pure-control-group">
    <input type="email" name="email" placeholder="Email:"><br><br>
  </div>
  <div class="pure-control-group">
    <input type="password" name="password" placeholder="Password:"><br><br>
  </div>
  <button type="submit" class="pure-button button-large">SignUp</button></form>
<br><br>
<a href="/login">Login</a><br>