<article class="pa4 black-80">
<h1>Add Domain Name</h1>
  <form action="/domains" method="post" accept-charset="utf-8">
    <fieldset id="create-domain-name" class="ba b--transparent ph0 mh0">
      <legend class="ph0 mh0 fw6 clip">Add Domain Name</legend>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="domain_name">Domain Name</label>
        <input class="pa2 input-reset ba bg-transparent w-100 measure" type="text" name="domain_name[domain_name]"  id="domain_name">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="expiry_date">Expiration Date:</label>
        <input class="b pa2 input-reset ba bg-transparent" type="date" name="domain_name[expiry_date]"  id="expiry_date">
      </div>
      <div class="mt3">
        <select class="pa2 input-reset ba bg-transparent w-100 measure" name="domain_name[service_id]"  id="service_id">
        <% current_user.services.each do |service| %>
        <option id="service_id" name="domain_name[service_id]" value=<%=service.id%>><%= service.service_name %></option>
        <%end%>
        </select>
      </div>
    </fieldset>
    <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Add Domain Name"></div>
  </form>
</article>
